/* Navbar styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Initial color */
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index:-100; /* Ensure navbar appears above other content */
  }
  
#navbar.scrolled {
   background-color: red; /* New color when scrolled */
}
  
/* Other styles */
#content {
 height: 2000px; /* Example content height to enable scrolling */
}
  